/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--main-font, 'sans-serif');
  background-color: var(--bg-color);
  background-image: var(--bg-pattern);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'WGHT' var(--normal-font-weight);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 103px auto;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(7.5rem, 7.148rem + 1.502vw, 8.5rem);
  padding-block-end: 19px;
  color: var(--accent-color);
  font-family: var(--accent-font, 'sans-serif');
  text-transform: uppercase;
  background-color: var(--bg-color);
}

.sections-width {
  width: var(--cards-width);
}

.header__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  margin-block-end: 23px;
}

.header__title {
  font-size: clamp(3.06rem, 2.708rem + 1.502vw, 4.06rem);
}

.header__paragraph {
  font-size: clamp(0.88rem, 0.683rem + 0.841vw, 1.44rem);
}

.header__theme-menu {
  padding-inline-start: 16px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 8.5px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--bg-color);
  font-variation-settings: 'WGHT' var(--normal-font-weight);
}

.theme-menu__button:hover {
  opacity: .6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: .6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -14px;
  display: block;
  width: 16px;
  height: 13px;
  animation: moving-arrow .5s ease-in-out infinite alternate;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transition: transform 0.3s;
  transform: scaleX(1);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50.5px;
  margin-block-end: 49px;
}

.card {
  border: 2px solid var(--accent-color);
  font-size: 18px;
  background-color: var(--bg-color);
}

.card__title {
  border-block-end: 2px solid var(--accent-color);
  padding: 5px 9px;
  font-size: 18px;
  line-height: 116.667%; /* 116.667% */
  font-variation-settings: 'WGHT' var(--bold-font-weight);
}

.card__image-container {
  position: relative;
  border-block-end: 2px solid var(--accent-color);
  aspect-ratio: 1 / 1;
}

.card__label {
  position: absolute;
  top: 27px;
  right: 23px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font, 'sans-serif');
  font-size: 14px;
  text-shadow: 1px 1px 0 var(--bg-color), -1px -1px 0 var(--bg-color), -1px 1px 0 var(--bg-color), 1px -1px 0 var(--bg-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .card__label {
      -webkit-text-stroke: 0.5px var(--bg-color);
      text-stroke: 0.5px var(--bg-color);
      /* text-shadow: 1px 2px 0 var(--accent-color), 1px 2px 0 var(--accent-color), 1px 1px 0 var(--accent-color), 1px 1px 0 var(--accent-color); */
      /* text-shadow: none; */
    }
} 

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.mario {
  filter: contrast(1.5);
}

.homer {
  filter: saturate(1.9);
}

.finish {
  filter: grayscale(1) contrast(1.3) brightness(1.2);
}

.paradise {
  filter: hue-rotate(15deg) contrast(1.5);
}

.ninja {
  filter: invert(0.9);
}

.tetris {
  filter: hue-rotate(-90deg);
}

.fail {
  filter: blur(4px);
}

.undertale {
  filter: brightness(150%);
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 27px 22px 25px 22px;
}

.card__buttons-container {
  display: flex;
  justify-content: end;
}

.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
  background-color: var(--bg-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
}

.like-icon:hover {
  cursor: pointer;
}

.core {
  fill: transparent;
  transition: fill 0.03s linear;
}

.card__icon-button:hover .core {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.card__icon-button:hover .main-body {
  fill: var(--accent-color);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.card__icon-button:active .core,
.card__icon-button:active .main-body {
  fill: var(--icon-sparks-color);
  transition: fill 0.3s linear;
}

.sparks {
  opacity: 0;
}

.is-liked .core {
  fill: var(--icon-sparks-color);
  transition: fill 0.3s;
}

.is-liked .main-body {
  fill: var(--icon-sparks-color);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.is-liked .contour {
  fill: var(--icon-sparks-color);
  transition: fill 0.3s;
  transition-delay: 0.06s;
}

.is-liked .sparks {
  animation: sparks 0.3s ease-in alternate;
  animation-delay: 0.3s;
}

.card__icon-button:hover .is-liked .main-body,
.card__icon-button:hover .is-liked .core {
  fill: var(--icon-sparks-color);
}

.heart {
  transform-origin: center center;
}

.is-liked .heart {
  animation: heart-scale 0.3s ease-in alternate;
  animation-delay: 0.1s;
}

/*общие стили кнопок*/

.button {
  position: relative;
  border: 2px solid var(--accent-color);
  overflow: hidden;
  font-family: var(--accent-font, 'sans-serif');
  font-size: 14px;
  background-color: var(--bg-color);
  cursor: pointer;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s;
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

/*-----------*/

.like-button-width {
  width: 130px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-end: 105px;
}

.diskette-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: clamp(19.13rem, 18.493rem + 2.719vw, 20.94rem);
  padding: 15px 0;
}

.diskette {
  min-width: 21px;
  height: 21px;
  fill: var(--bg-color);
  mix-blend-mode: difference;
}

.dialog-container .diskette {
  min-width: 39px;
  height: 39px;
}

.dialog {
  width: clamp(21.31rem, 20.958rem + 1.502vw, 22.31rem);
  height: 193px;
  border: 2px solid var(--accent-color);
  padding: 29px 31px;
  background-color: var(--bg-color);
}

.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-block-end: 30px;
}

.dialog__paragraph {
  color: var(--accent-color);
  font-family: var(--accent-font, 'sans-serif');
  font-size: 14px;
  line-height: 150%; /* 21px */
}

.dialog__button {
  width: 100%;
  height: 38px;
  text-transform: uppercase;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
}

/*------------MEDIA------------*/

@media (width <= 768px) {
  .sections-width {
    width: 100%;
  }

  .card__text-container {
    padding: 25px 24px 25px 24px;
  }

  .diskette-button {
    flex-direction: column;
  }

  .diskette-button .diskette {
    width: 28px;
    height: 28px;
  }
}

/*-------------THEMES--------------*/

.theme-dark .button__text {
  color: var(--accent-color);
}

.theme-dark .diskette {
  fill: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  .theme-auto .button__text {
    color: var(--accent-color);
  }

  .theme-auto .diskette {
    fill: var(--accent-color);
  }
}